.navBar {
    display: flex;
    flex-direction: row;
    margin: 0 25vw;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}
.brand {
    all: unset;
    cursor: pointer;
    font-family: "Balsamiq Sans", serif;
    font-weight: bold;
}
.menu {
    font-family: Ubuntu,serif;
    font-weight: 400;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-grow: 1;
    justify-content: space-around;
}
.activeItem {
    font-weight: 700;
}
.menuItem {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.cv {
    height: 75%;
    padding: 3px 6px;
    border: 2px white solid;
    color: white;
    background-color: black ;
    border-radius: 1000px;
    cursor: pointer;
}