.polygon {
    transition:transform 5s;
    position:absolute;
    top:0;
    left:0;
    opacity: 75%;
    filter:blur(5px);
    z-index:-100;
    width:5vw;
}
@media (max-width: 512px) {
    .polygon {
        width: 10vw;
        filter:blur(2px);
    }
}
@media (min-width: 513px) and (max-width: 768px) {
    .polygon {
        width: 5vw;
        filter:blur(2px);
    }
}